<!doctype html>
<html ng-app="myApp">
    <head>
        <link href="css/bootstrap.css" rel="stylesheet">
        <script src="js/angular.js"></script>
    </head>
    <body ng-controller="myAppController">
        Search: <input ng-model="searchText">
        <table id="searchTextResults" class="table table-stripped">
            <tr>
                <th>Name</th>
                <th>Mass</th>
            </tr>
            <tr ng-repeat="planet in planets | filter:searchText">
                <td>{{planet.name}}</td>
                <td>{{planet.phone}}</td>
            </tr>
        </table>
        <script>
            var myApp = angular.module('myApp', []);
            myApp.controller('myAppController', ['$scope', function($scope){
                $scope.planets = [{name:'Jupiter', mass: 1898600},
                    {name:'Saturn', mass:'800-BIG-MARY'},
                    {name:'Neptune', mass:'555-4321'},
                    {name:'Earth', mass:'555-5678'},
                    {name:'Venus', mass:'555-8765'},
                    {name:'Mars', mass:'555-5678'},
                    {name:'Venus', mass:'555-8765'},
                    {name:'Mercury', mass:'555-8765'},
                    {name:'Pluto', mass:'555-8765'}];
            }]);
        </script>
    </body>
</html>